.outerWrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.slide {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

.wrapperSelection {
  composes: wrapper;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  /* border: 1px solid red; */
}

.wrapperNoSelection {
  composes: wrapper;
  width: 100vw;
  /* border: 3px solid green; */
}

.slideThree {
  composes: slide;
  background-color: orange;
}

/* @media only screen and (max-width: 2000px) {
  
} */

/* medium >= 768px */
@media only screen and (max-width:  1280px) {
  
}

/* small >= 640px */
@media only screen and (max-width:  850px) {
  .wrapperSelection {
    width: 480vw;
  }
}

/* below small */
@media only screen and (max-width: 640px) {

}