.carousel {
    /* width: inherit; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 57rem;
}

.video_carousel {
    border: 3px solid #0000ff;
    display: flex;
    overflow-x: scroll;
    /* width: 57rem; */
}

.video {
    width: 57rem;
    position: relative;
}

.title {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(255,255,255, 1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    display: flex;
    align-items: flex-end;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
    z-index: 3;
    opacity: 0;
}

.title:hover {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.title h1 {
    color: black;
    font-size: 2.3rem;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blurred_div {
    z-index: -1;
}

.ticking_bar {
    width: inherit;
    display: flex;
    gap: 0.4rem;
    /* border: 1px solid black; */
    padding: 0; 
    margin: 0;
}

.ticking_bar li {
    width: calc(100% / 5);
    height: 0.7rem;
    list-style-type: none;
    border: none;
    border-radius: 100px;
}

.ticking_bar li:first-of-type {
    background-color: red;
}

.ticking_bar li:nth-of-type(2) {
    background-color: orange;
}

.ticking_bar li:nth-of-type(3) {
    background-color: green;
}

.ticking_bar li:nth-of-type(4) {
    background-color: blue;
}

.ticking_bar li:last-of-type {
    background-color: violet;
}