.slide_Four_Parent {
  /* border: 3px solid green; */
  flex: 1;
  width: 100vw;
  height: 100vh;
}

.slide_Four_Child {
  /* border: 1px solid red; */
  padding: .7rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  height: 97%;
  width: inherit;
  animation: appear linear;
  animation-timeline: scroll();
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.2;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@media only screen and (max-width:  1750px) {
  .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width:  1500px) {
  .slide_Four_Child {
    gap: 1.5rem;
  }
}

@media only screen and (max-width:  1110px) {
  .slide_Four_Parent {
    width: 180vw;
  }

  .slide_Four_Child {
    animation: none;
  }
}

@media only screen and (max-width:  900px) {
  .slide_Four_Child {
    grid-template-columns: 50% 1fr;
  }
}