.slide_Four_Parent {
    composes: slide from '../../MainPageStyle.module.css';
    /* border: 1px solid black; */
}

.slide_Four_Child {
    /* border: 3px solid red; */
    padding: 0.7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    height: 97%;
    animation: appear linear;
    animation-timeline: scroll();
}

@keyframes appear {
    0% {
        opactiy: 0;
        scale: 0.2;
    }

    100% {
        opactiy: 1;
        scale: 1;
    }
}
