.card {
    /* border: 1px solid greenyellow; */
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    height: 100%;
    overflow: hidden;
    border: none;
    border-radius: 1rem;
}

.card:hover {
    top: -4rem;
}

.image_container {
    height: 100%;
    z-index: 0;
}

.image_container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.name_container {
    position: absolute;
    z-index: 3;
    bottom: 0;
    text-align: center;
    /* border: 1px solid red; */
    width: stretch;
    padding: 1rem .5rem;
    background-image: linear-gradient(
        to top, 
        rgba(255,255,255, 1), 
        rgba(255,255,255, 0.7), 
        rgba(0, 0, 0, 0)
    );
}

.name_container h1 {
    font-weight: 300;
    font-size: 1.5rem;
}

/* huge >= 768px */
@media only screen and (max-width:  1578px) {
    .name_container h1 {
        font-weight: 400;
        font-size: 1.2rem;
    }
}

/* large >= 768px */
@media only screen and (max-width:  1280px) {
    .name_container h1 {
        font-size: 1.2rem;
    }
}

/* medium >= 768px */
@media only screen and (max-width:  1098px) {
    .name_container h1 {
        font-size: 1rem;
    }
}

/* small >= 640px */
@media only screen and (max-width:  786px) {
    .name_container h1 {
        font-size: .7rem;
    }
}

/* below small */
@media only screen and (max-width: 640px) {
    .name_container {
        padding: .5rem;
    }

    .name_container h1 {
        font-size: .4rem;
    }
}