.card {
    width: 33rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, .3),
        rgba(0, 0, 0, .2)
    );
    border: 2px solid rgba(255, 255, 255, 0.027);
    border-radius: 2rem;
    padding: 1.3rem 1.6rem;
    animation: appear linear;
    animation-timeline: scroll();
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.middle_row {
    display: flex;
    justify-content: center;
}

.corner {
    width: 42%;
    height: 2.7rem;
    position: relative;
    /* border: 1px solid red; */
}

.corner h1 {
    font-size: 1.8rem;
    z-index: 0;
    opacity: 0.8;
    color: #cfcfcf;
}

.corner div {
    display: flex;
    gap: 0.2rem;
}

.corner div > h1 {
    color: black;
    font-size: 1.6rem;
}

.top_left_corner {
    composes: corner;
}

.top_left_corner div {
    position: absolute;
    bottom: 0;
    right: 0;
}

.top_right_corner {
    composes: corner;
}

.top_right_corner div {
    position: absolute;
    bottom: 0;
    left: 0;
}

.top_right_corner h1 {
    text-align: right;
}

.bottom_left_corner {
    composes: corner;
    height: 2.5rem;
    display: flex;
    align-items: flex-end;
}

.bottom_left_corner div {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom_right_corner {
    composes: corner;
    height: 2.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.bottom_right_corner > div {
    position: absolute;
    top: 0;
    left: 0;
}

.info_card {
    composes: card;
    flex-direction: row;
    gap: 1rem;
}

.info_card_first_child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.7rem;
}

.info_card_first_child h1 {
    font-size: 3rem;
}

.info_card_first_child h2:first-of-type {
    font-weight: 100;
}

.info_card_first_child h2:nth-of-type(2) {
    font-weight: 600;
}

.info_card_first_child h3 {
    font-weight: 300;
}

.info_card_last_child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.measurement_unit span:last-of-type {
    font-size: 0.7rem;
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.3;
    }

    65% {
        opacity: 1;
        scale: 1;
    }
}

@media only screen and (max-width:  1835px) {
  .card {
    width: 25rem;
    height: 13rem;
  }
}

@media only screen and (max-width:  1450px) {
    .card {
        animation: none;
    }
    
    .info_card_first_child h1 {
        font-size: 2.6rem;
    }

    .info_card_first_child h2 {
        font-size: 1.4rem;
    }

    .corner h1 {
        font-size: 1.5rem;
    }

    .corner div > h1 {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width:  624px) {
    .card {
        width: 16rem;
        height: 10rem;
        padding: 1rem;
    }

    .info_card_first_child {
        gap: .4rem;
    }

    .info_card_first_child h1 {
        font-size: 2rem;
    }

    .info_card_first_child h2 {
        font-size: .9em;
    }

    .info_card_first_child h3 {
        font-size: .7em;
    }

    .corner h1 {
        font-size: .9rem;
    }

    .corner div > h1 {
        font-size: 1.2rem;
    }
}