.thunderstorm {
    position: relative;
    --scale-fully-cloudy: 0.8;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thunder_cloud {
    position: relative;
    height: calc(var(--scale-fully-cloudy) * 7rem);
    width: calc(var(--scale-fully-cloudy) * 24rem);
    border-radius: 100px;
    background-image: radial-gradient(circle, #7f8c8d);
    box-shadow: 0 0 25px rgba(0,0,0,.3);
    animation: thunder 4s linear .02s infinite alternate;
}

.thunder_cloud::before {
    content: '';
    position: absolute;
    top: calc(var(--scale-fully-cloudy) * (-5rem));
    left: calc(var(--scale-fully-cloudy) * 3rem);
    width: calc(var(--scale-fully-cloudy) * 9rem);
    height: calc(var(--scale-fully-cloudy) * 9rem);
    border-radius: 50%;
    z-index: 2;
    background-image: radial-gradient(farthest-side at 40% 50%, #95a5a6, #7f8c8d);
    animation: thunder 4s linear .02s infinite alternate;
}

.thunder_cloud::after {
    animation: thunder 4s linear .02s infinite alternate;
}

.thunder_cloud_edition {
    position: absolute;
    height: calc(var(--scale-fully-cloudy) * 13rem);
    width: calc(var(--scale-fully-cloudy) * 13rem);
    border-radius: 50%;
    background-image: radial-gradient(circle, #95a5a6, #7f8c8d);
    box-shadow: 0 0 25px rgba(0,0,0,.3);
    top: calc(var(--scale-fully-cloudy) * 3.5rem);
    left: calc(var(--scale-fully-cloudy) * 8.5rem);
    z-index: 1;
    animation: thunder 4s linear .02s infinite alternate;
}

.thunderboltContainer {
    position: absolute;
    width: 4rem;
    height: 4rem;
}

.thunderboltContainer_first {
    composes: thunderboltContainer;
    z-index: 0;
    top: calc(var(--scale-fully-cloudy) * 18rem);
    left: calc(var(--scale-fully-cloudy) * 7rem);
}

.thunderboltContainer_second {
    composes: thunderboltContainer;
    top: calc(var(--scale-fully-cloudy) * 13rem);
    left: calc(var(--scale-fully-cloudy) * 20rem);
}

.thunderbolt {
  border: 12px solid rgba(0,0,0,0);
  border-bottom: 39px solid #ffdf00;
  transform: rotateZ(-160deg);
  padding: 2px;
  width: 0;
  height: 0;
  margin: 0;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 50% 50% 0;
  animation: fadeOut 1s linear infinite alternate;
}

.thunderbolt::after {
  content: '';
  top: -9px;
  left: -8px;
  border: 10px solid rgba(0,0,0,0); 
  border-bottom: 39px solid #ffdf00;
  transform: rotateZ(4deg);
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
  margin: 0;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 10rem -6rem 0;
}

@keyframes fadeOut {
	0% { 
        opacity: 1; 
    }

	100% { 
        opacity: 0; 
    }
}

@keyframes thunder {
	0% { box-shadow: 0 0 25px #fff; }
	2% { box-shadow: 0 0 25px rgba(0,0,0,.3); }
	49% { box-shadow: 0 0 25px rgba(0,0,0,.3); }
	50% { box-shadow: 0 0 25px #fff; }
	52% { box-shadow: 0 0 25px #f7db6e; }
	53% { box-shadow: 0 0 25px rgba(0,0,0,.3); }
	69% { box-shadow: 0 0 25px rgba(0,0,0,.3); }
	70% { box-shadow: 0 0 25px #fff; }
	71% { box-shadow: 0 0 25px rgba(0,0,0,.3); }
	75% { box-shadow: 0 0 25px rgba(0,0,0,.3); }
	76% { box-shadow: 0 0 25px #fff; }
	77% { box-shadow: 0 0 25px #a8d3f0; }
	78% { box-shadow: 0 0 25px rgba(0,0,0,.3); }
	100% { box-shadow: 0 0 25px rgba(0,0,0,.3); }
}

@media only screen and (max-width:  1098px) {
    .thunderstorm {
        margin-top: 1.5rem;
    }

    .thunder_cloud {
        height: calc(var(--scale-fully-cloudy) * 3.5rem);
        width: calc(var(--scale-fully-cloudy) * 13rem);
        z-index: 2;
    }

    .thunder_cloud::before {
        top: calc(var(--scale-fully-cloudy) * (-3.1rem));
        left: calc(var(--scale-fully-cloudy) * 1.5rem);
        width: calc(var(--scale-fully-cloudy) * 5rem);
        height: calc(var(--scale-fully-cloudy) * 5rem);
        background-image: radial-gradient(farthest-side at 40% 50%, #95a5a6, #7f8c8d);
    }

    .thunder_cloud_edition {
        height: calc(var(--scale-fully-cloudy) * 7rem);
        width: calc(var(--scale-fully-cloudy) * 7rem);
        top: calc(var(--scale-fully-cloudy) * -4.8rem);
        left: calc(var(--scale-fully-cloudy) * 5rem);
        z-index: 3;
    }

    .thunderboltContainer_first {
        z-index: 2;
        top: calc(var(--scale-fully-cloudy) * 2rem);
        left: calc(var(--scale-fully-cloudy) * 1rem);
    }

    .thunderboltContainer_second {
        z-index: 2;
        top: 0;
        left: calc(var(--scale-fully-cloudy) * 8.7rem);
    }
}