.icon {
    width: 5rem;
}

.temperature_icon {
    composes: icon;
    fill: rgb(234, 85, 80);
}

.air_cover_icon {
    composes: icon;
    fill: rgba(101, 185, 255);
}

.sun_icon {
    composes: icon;
    fill: rgba(248, 156, 17);
}

.cloud_icon {
    composes: icon;
    fill: grey;
}

@media only screen and (max-width:  624px) {
    .icon {
        width: 4rem;
    }
}