.blobParentNoTransition {
  position: absolute;
  z-index: 1;
  /* border: 1px solid black; */
  animation: moveBlob 18s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.blobParentTransition {
  position: absolute;
  z-index: 5;
  /* border: 3px solid black; */
  animation: expand 1.5s linear;
}

.blob {
  aspect-ratio: 1/1;
  background: linear-gradient(
    rgba(20, 202, 238, 0.5) 0%,
    rgba(41, 116, 221, 0.8) 40%,
    rgba(126, 26, 247, 0.8) 100%
  );
  opacity: 1;
}

.blobNoTransition {
  composes: blob;
  width: 400px;
  border-radius: 30% 70% 70% 30% / 30% 40% 70% 70%;
  animation: changeShapeBlob 6s linear infinite, rotateBlob 12s linear infinite;
  filter: blur(50px);
  /* border: 1px solid black; */
}

.blobTransition {
  composes: blob;
  animation: blobTransition 1.5s linear, changeShapeBlob 3s linear infinite;
  filter: none;
  visibility: visible;
  background-color: rebeccapurple;
  width: inherit;
  height: inherit;
}

@keyframes blobTransition {
  from {
    filter: blur(50px);
    scale: 1;
  }

  to {
    filter: blur(0);
    scale: 2;
  }
}

@keyframes rotateBlob {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveBlob {
  0%,
  100% {
    transform: translate(4vw, 4vh);
  }
  20% {
    transform: translate(60vw, 10vh);
  }
  35% {
    transform: translate(45vw, 20vh);
  }
  50% {
    transform: translate(30vw, 70vh);
  }
  65% {
    transform: translate(53vw, 50vh);
  }
  80% {
    transform: translate(20vw, 80vh);
  }
  
}

@keyframes changeShapeBlob {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 40% 70% 70%;
  }

  20% {
    border-radius: 40% 65% 50% 50% / 40% 35% 35% 65%;
  }

  40% {
    border-radius: 35% 65% 65% 35% / 65% 50% 50% 25%;
  }
  60% {
    border-radius: 40% 65% 50% 50% / 30% 30% 70% 75%;
  }
  80% {
    border-radius: 40% 60% 40% 60% / 50% 50% 50% 60%;
  }
}

@keyframes expand {
  0% {
    width: 400px;
    height: auto;
  }

  50% {
    width: 200vw;
    height: 200vh;
  }

  100% {
    width: 400px;
    height: auto;
  }
}

@media only screen and (max-width:  1280px) {
  .blobNoTransition {
    width: 300px;
  }
}

@media only screen and (max-width:  786px) {
  .blobNoTransition {
    width: 200px;
  }
}

@media only screen and (max-width: 454px) {
  .blobNoTransition {
    width: 100px;
  }
}