.wind_container {
    position: relative;
    --scale-wind: 0.8;
    /* border: 1px solid black; */
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.small_windy_cloud {
    composes: cloud_small from '../Fully_Cloudy/Fully_Cloudy.module.css';
    height: calc(var(--scale-wind) * 3rem);
    width: calc(var(--scale-wind) * 9rem);
    left: calc(var(--scale-wind) * (-6rem));
    background: #ccc;
    animation: translateLeft 2s linear infinite alternate;
}

.small_windy_cloud::before {
    content: '';
    position: absolute;
    top: calc(var(--scale-wind) * (-2rem));
    left: calc(var(--scale-wind) * 1rem);
    width: calc(var(--scale-wind) * 3rem);
    height: calc(var(--scale-wind) * 3rem);
    background: #ccc;
    border-radius: 50%;
    box-shadow: calc(var(--scale-wind) * 3.2rem) 0 0 calc(var(--scale-wind) * 1.2rem) #ccc;
}

.wind_bar {
    background: #eee;
    border-radius: 100px;
    will-change: transform;
    animation: translateRight 2s linear infinite alternate;
}

.top_wind_bar, .middle_wind_bar, .bottom_wind_bar  {
    composes: wind_bar;
}

.top_wind_bar {
    height: calc(var(--scale-wind) * 1rem);
    width: calc(var(--scale-wind) * 15rem);
    bottom: 2.5rem;
    left: -3rem;
}

.top_wind_bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(var(--scale-wind) * 18rem);
    width: calc(var(--scale-wind) * 6rem);
    height: calc(var(--scale-wind) * 1rem);
    background: #eee;
    border-radius: 50rem;
    border-bottom-right-radius: 73rem;
}

.top_wind_bar_branchoff_curve::before {
    content: '';
    position: absolute;
    height: calc(var(--scale-wind) * 2.2rem);
    width: calc(var(--scale-wind) * 5rem);
    top: calc(var(--scale-wind) * -1.5rem);
    left: calc(var(--scale-wind) * 18.5rem);
    border-radius: 50%;
    z-index: 2;
    box-shadow: calc(var(--scale-wind) * 38px) 2px 0px 2px #eee; 
}

.top_wind_bar_branchoff_finisher::before {
    content: '';
    position: absolute;
    top: calc(var(--scale-wind) * -1.5rem);
    left: calc(var(--scale-wind) * 21.7rem);
    width: calc(var(--scale-wind) * 3rem);
    height: calc(var(--scale-wind) * 1rem);
    background: #eee;
    border-radius: 50rem;
    border-top-right-radius: 78rem;
}

.middle_wind_bar {
    composes: wind_bar;
    height: calc(var(--scale-wind) * 2rem);
    width: calc(var(--scale-wind) * 24rem);
}

.middle_wind_bar::before {
    content: '';
    position: absolute;
    left: calc(var(--scale-wind) * 27rem);
    width: calc(var(--scale-wind) * 11.6rem);
    height: calc(var(--scale-wind) * 2rem);
    background: #eee;
    border-radius: 50rem;
    border-bottom-right-radius: 73rem;
}

.middle_wind_bar_branchoff_curve::before {
    content: '';
    position: absolute;
    height: calc(var(--scale-wind) * 4rem);
    width: calc(var(--scale-wind) * 8rem);
    top: calc(var(--scale-wind) * -2.75rem);
    left: calc(var(--scale-wind) * 30rem);
    border-radius: 50%;
    z-index: 2;
    box-shadow: calc(var(--scale-wind) * 50px) 5px 0px 5px #eee; 
}

.middle_wind_bar_branchoff_finisher::before {
    content: '';
    position: absolute;
    top: calc(var(--scale-wind) * -2.75rem);
    left: calc(var(--scale-wind) * 34rem);
    width: calc(var(--scale-wind) * 5rem);
    height: calc(var(--scale-wind) * 2rem);
    background: #eee;
    border-radius: 50rem;
    border-top-right-radius: 78rem;
}

.bottom_wind_bar {
    height: calc(var(--scale-wind) * .7rem);
    width: calc(var(--scale-wind) * 18rem);
    top: 6rem;
    left: -2rem;
}

.bottom_wind_bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(var(--scale-wind) * 20rem);
    width: calc(var(--scale-wind) * 2.5rem);
    height: calc(var(--scale-wind) * .7rem);
    background: #eee;
    border-radius: 50rem;
}

.bottom_wind_bar_branchoff_curve::before {
    content: '';
    position: absolute;
    height: calc(var(--scale-wind) * 1.3rem);
    width: calc(var(--scale-wind) * 2rem);
    top: 0;
    left: calc(var(--scale-wind) * 20rem);
    border-radius: 50%;
    z-index: 2;
    box-shadow: calc(var(--scale-wind) * 20px) 2px 0px 2px #eee; 
}

.bottom_wind_bar_branchoff_finisher::before {
    content: '';
    position: absolute;
    top: calc(var(--scale-wind) * 1rem);
    left: calc(var(--scale-wind) * 21.2rem);
    width: calc(var(--scale-wind) * 1.4rem);
    height: calc(var(--scale-wind) * .7rem);
    background: #eee;
    border-radius: 50rem;
}

@keyframes translateRight {
	0% { transform: translatex(-20%); }
	100% { transform: translatex(10%); }
}

@keyframes translateLeft {
	0% { transform: translatex(40%); }
	100% { transform: translatex(10%); }
}

@media only screen and (max-width:  1098px) {
    @keyframes translateRight {
        0% { transform: translatex(-35%); }
        100% { transform: translatex(-5%); }
    }

    @keyframes translateLeft {
        0% { transform: translatex(120%); }
        100% { transform: translatex(70%); }
    }

    .wind_container {
        gap: 2rem;
    }

    .middle_wind_bar {
        height: calc(var(--scale-wind) * 1.5rem);
        width: calc(var(--scale-wind) * 11rem);
    }

    .middle_wind_bar::before {
        left: calc(var(--scale-wind) * 13rem);
        width: calc(var(--scale-wind) * 7rem);
        height: calc(var(--scale-wind) * 1.5rem);
    }

    .middle_wind_bar_branchoff_curve::before {
        height: calc(var(--scale-wind) * 4rem);
        top: calc(var(--scale-wind) * -3.3rem);
        left: calc(var(--scale-wind) * 12rem);
    }

    .middle_wind_bar_branchoff_finisher::before {
        top: calc(var(--scale-wind) * -3.15rem);
        left: calc(var(--scale-wind) * 17.3rem);
        width: calc(var(--scale-wind) * 3rem);
        height: calc(var(--scale-wind) * 1.5rem);
    }

    .top_wind_bar {
        height: calc(var(--scale-wind) * .6rem);
        width: calc(var(--scale-wind) * 6rem);
    }

    .top_wind_bar::before {
        left: calc(var(--scale-wind) * 8rem);
        width: calc(var(--scale-wind) * 3rem);
        height: calc(var(--scale-wind) * .6rem);
    }

    .top_wind_bar_branchoff_curve::before {
        height: calc(var(--scale-wind) * 2rem);
        width: calc(var(--scale-wind) * 4rem);
        top: calc(var(--scale-wind) * -1.7rem);
        left: calc(var(--scale-wind) * 7rem);
        box-shadow: calc(var(--scale-wind) * 25px) 2px 0px 2px #eee; 
    }

    .top_wind_bar_branchoff_finisher::before {
        top: calc(var(--scale-wind) * -1.7rem);
        left: calc(var(--scale-wind) * 9.8rem);
        width: calc(var(--scale-wind) * 1.2rem);
        height: calc(var(--scale-wind) * .6rem);
        border-top-right-radius: 78rem;
    }

    .bottom_wind_bar {
        height: calc(var(--scale-wind) * .3rem);
        width: calc(var(--scale-wind) * 10rem);
        margin-left: 7rem;
    }

    .bottom_wind_bar::before {
        left: calc(var(--scale-wind) * 11rem);
        width: calc(var(--scale-wind) * 2.5rem);
        height: calc(var(--scale-wind) * .3rem);
    }

    .bottom_wind_bar_branchoff_curve::before {
        height: calc(var(--scale-wind) * .9rem);
        left: calc(var(--scale-wind) * 11rem);
    }

    .bottom_wind_bar_branchoff_finisher::before {
        top: calc(var(--scale-wind) * .85rem);
        left: calc(var(--scale-wind) * 11.8rem);
        width: calc(var(--scale-wind) * 1.4rem);
        height: calc(var(--scale-wind) * .4rem);
    }

    .small_windy_cloud {
        height: calc(var(--scale-wind) * 2rem);
        width: calc(var(--scale-wind) * 6rem);
        left: calc(var(--scale-wind) * (-8rem));
    }

    .small_windy_cloud::before {
        top: calc(var(--scale-wind) * (-1rem));
        left: calc(var(--scale-wind) * .7rem);
        width: calc(var(--scale-wind) * 2rem);
        height: calc(var(--scale-wind) * 2rem);
        box-shadow: calc(var(--scale-wind) * 2rem) -.2rem 0 calc(var(--scale-wind) * .6rem) #ccc;
    }
}