.snow {
    --snow-cloud-scale: 0.9;
    position: relative;
    width: calc(var(--snow-cloud-scale) * 22rem);
    height: 100%;
}

.snow_cloud {
    composes: partial_cloudy_cloud from '../Partial_Cloudy/Partial_Cloudy.module.css';
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: calc(var(--snow-cloud-scale) * 22rem);
}

.snow_cloud::before {
    content: '';
    position: absolute;
    right: 3%;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    z-index: 2;
    background-color: #ecf0f1;
    background-image: radial-gradient(#ecf0f1, #bdc3c7);
    box-shadow: 0 0 25px rgba(0,0,0,.3);
    height: calc(var(--snow-cloud-scale) * 40%);
    width: calc(var(--snow-cloud-scale) * 40%);
    top: 27%;
}

.snow_cloud::after {
    content: '';
    position: absolute;
    right: 30%;
    border-radius: 50%;
    border-bottom-right-radius: 0;
    z-index: 1;
    background-color: #ecf0f1;
    background-image: radial-gradient(#ecf0f1, #bdc3c7);
    box-shadow: 0 0 25px rgba(0,0,0,.3);
    height: calc(var(--snow-cloud-scale) * 60%);
    width: calc(var(--snow-cloud-scale) * 70%);
    top: 9%;
}

.snowflakesContainer {
    position: absolute;
    width: 50%;
    height: 58%;
    margin-right: auto;
    margin-left: 5rem;
    margin-top: 8rem;
}

.snowflake {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: calc(var(--snow-cloud-scale) * 1.6);
    text-shadow: 0 0 1px #000;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(1) {
    left: 3%;
    animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2) {
    left: 5%;
    animation-delay: 6s, .5s;
    animation-delay: 6s, .5s;
}

.snowflake:nth-of-type(3) {
    left: 25%;
    animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(5) {
    left: 12%; 
    animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}

.snowflake:nth-of-type(6) {
    left: 37%;
    animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}

.snowflake:nth-of-type(7) {
    left: 33%;
    animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) { 
    left: 6%;
    animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(9) { 
    left: 16%;
    animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}

@keyframes snowflakes-fall{
    0% {
        top: 0%;
    }
    100% {
        top: 100%;
    }
}

@keyframes snowflakes-shake{
    0% {
        transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        transform: translateX(80px);
        transform: translateX(80px);
    }
    100%{
        transform: translateX(0px);
        transform: translateX(0px);
    }
}

@media only screen and (max-width:  1098px) {
    .snow_cloud::before {
        height: calc(var(--snow-cloud-scale) * 30%);
        width: calc(var(--snow-cloud-scale) * 25%);
        top: 18%;
        right: 20%;
    }

    .snow_cloud::after {
        height: calc(var(--snow-cloud-scale) * 50%);
        width: calc(var(--snow-cloud-scale) * 45%);
        top: 0;
        right: 40%;
    }

    .snowflakesContainer {
        margin-left: 5.5rem;
        margin-top: 5.4rem;
    }
}

@media only screen and (max-width:  400px) {
    .snow_cloud::before {
        height: calc(var(--snow-cloud-scale) * 30%);
        width: calc(var(--snow-cloud-scale) * 20%);
        top: 18%;
        right: 24%;
    }

    .snow_cloud::after {
        height: calc(var(--snow-cloud-scale) * 50%);
        width: calc(var(--snow-cloud-scale) * 35%);
        top: 0;
        right: 40%;
    }

    .snowflakesContainer {
        width: 30%;
        margin-left: 7rem;
        margin-top: 4.2rem;
    }
}