.top_bar {
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    justify-content: flex-start;
    gap: 40rem;
    padding-left: 2rem;
}

.top_bar_location_text {
    /* border: 1px solid red; */
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    /* flex-direction: column; */
    /* gap: 1rem; */
    align-items: center;
}

.sort_options {
    display: flex;
    gap: 1rem;
}

.btn {
    height: fit-content;
    background-color: #eee;
    border: none;
    border-radius: 20px;
    padding: 6px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.btn h2 {
    font-weight: 200;
}