.top_bar {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    gap: 40rem;
    padding-left: 2rem;
    position: relative;
    animation: appear linear;
    animation-timeline: scroll();
}

.top_bar_location_text {
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top_bar_location_text h2 {
    font-weight: 100;
}

.btns {
    display: flex;
    gap: 1rem;
}

.btn {
    height: fit-content;
    cursor: pointer;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 20px;
    color: black;
    box-shadow: rgba(255, 255, 255, 0.8) -1px -1px 2px, rgba(0, 0, 0, 0.25) 1px 1px 2px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn:hover {
    box-shadow: rgba(255, 255, 255, 0.6) -1px -1px 5px, rgba(0, 0, 0, 0.3) 1px 1px 5px, rgba(255, 255, 255, 1) inset -2px -2px 5px, rgba(0, 0, 0, 0.3) inset 2px 2px 4px;
}

.btn h2 {
    font-weight: 200;
    color: rgba(255, 255, 255, 0.7);
}

@keyframes appear {
    0% {
        opactiy: 0;
        scale: 0.1;
    }

    65% {
        opactiy: 1;
        scale: 1;
    }
}

@media only screen and (max-width:  1024px) {
    .btn h2 {
        font-size: 1rem;
    }
}

@media only screen and (max-width:  800px) { 
    .top_bar {
        padding-left: 1rem;
        animation: none;
    }

    .top_bar_location_text {
        top: 30%;
        left: 50%;
        transform: none;
    }
    
    .btns {
        flex-direction: column;
        gap: .5rem;
    }

    .btn h2 {
        font-size: 1rem;
    }
}
