.section {
    position: relative;
    display: grid;
    place-content: center;
    overflow: hidden;
    background-color: oklch(14.5% 0 0);
    width: 100%;
    margin-left: 1rem;
}

.container {
    position: absolute;
    z-index: 10;
    inset: 0;
}

.loading_error_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    composes: text from '../../Loading and Error/Loading_And_Error.module.css';
    color: white;
    justify-content: center;
    align-items: center;
}

.img_div {
    composes: img_div from '../../Loading and Error/Loading_And_Error.module.css';
}