.forecast_wrapper {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cards_container {
    /* border: 3px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
}