.clearNight {
    position: relative;
    --scale-clear-night: 0.85;
    height: calc(var(--scale-clear-night) * 20rem);
    width: calc(var(--scale-clear-night) * 20rem);
    margin-top: auto;
    margin-bottom: auto;
}

.clearNight::before {
    content: '';
    position: absolute;
    height: 80%;
    width: 80%;
    top: 0%;
    right: 40%;
    border-radius: 50%;
    z-index: 2;
    background-color: transparent;
    box-shadow: calc(var(--scale-clear-night) * 45px) 10px 0px 0px #EFD19F; 
}

.clearNight::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: -6%;
    right: 20%;
    border-radius: 50%;
    z-index: 1;
    background-color: transparent;
    box-shadow: calc(var(--scale-clear-night) * 45px) 10px 0px 0px #8d7b5c; 
    will-change: opacity, transform;
    animation: fadeIn 2s linear infinite reverse,
        scaleDown 2s linear infinite reverse;
}

@keyframes fadeIn {
	0% { 
        opacity: 0; 
    }

	100% { 
        opacity: 1; 
    }
}

@keyframes scaleDown {
	0% { 
        transform: scale(1.2); 
    }
    
	100% { 
        transform: scale(.8); 
    }
}

@media only screen and (max-width:  1098px) {
    .clearNight {
        --scale-clear-night: 0.65;
    }

    .clearNight::before {
        height: 70%;
        width: 80%;
        box-shadow: calc(var(--scale-clear-night) * 55px) 13px 0px 0px #EFD19F; 
    }

    .clearNight::after {
        top: -12%;
        right: 20%;
        box-shadow: calc(var(--scale-clear-night) * 55px) 13px 0px 0px #8d7b5c; 
    }
}