.container {
    composes: slide from '../../MainPageStyle.module.css';
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

