.sun{
  position: relative;
  animation: rotate 4s linear infinite;
  width: fit-content;
  --sun-color: rgb(255, 174, 0);
  --scale-clear-day: 1;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.sunOrb {
  height: calc(var(--scale-clear-day) * 15rem);
  width: calc(var(--scale-clear-day) * 15rem);
  background-color: rgba(255, 174, 0, 0.5);
  aspect-ratio: 1/1;
  border-radius: 30% 70% 70% 30% / 30% 40% 70% 70%;
  animation: changeShapeSun 6s linear infinite, rotateSun 12s linear infinite;
}

.sun_center {
  height: calc(var(--scale-clear-day) * 11rem);
  width: calc(var(--scale-clear-day) * 11rem);
  background-color: var(--sun-color);
  border-radius: 50%;
  box-shadow: 0 0 calc(var(--scale-clear-day) * 10rem) var(--sun-color);
  position: absolute;
}

.sun_center_clear_day {
  composes: sun_center;
  top: 6.5rem;
  left: 1.8rem;
}

.sun_center_partially_cloudy {
  composes: sun_center;
  top: 2rem;
  left: 1.8rem;
}

@keyframes rotateSun {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes changeShapeSun {
  0%,
  100% {
    border-radius: 30% 80% 70% 30% / 30% 40% 70% 70%;
  }

  15% {
    border-radius: 80% 65% 50% 80% / 20% 75% 25% 95%;
  }

  30% {
    border-radius: 60% 25% 60% 50% / 70% 35% 25% 65%;
  }

  45% {
    border-radius: 40% 65% 80% 50% / 20% 35% 25% 65%;
  }
  
  60% {
    border-radius: 35% 65% 85% 35% / 65% 70% 50% 25%;
  }

  75% {
    border-radius: 70% 65% 70% 50% / 70% 30% 70% 75%;
  }
  
  90% {
    border-radius: 20% 90% 80% 80% / 70% 30% 80% 60%;
  }
}

@media only screen and (max-width:  1098px) {
  .sun {
    --scale-clear-day: 0.9;
  }

  .sun_center_clear_day, .sun_center_partially_cloudy {
    top: 1.8rem;
    left: 1.8rem;
  }
}