.slide_Two_Parent, .slide_Two_Child {
  composes: slide from '../../MainPageStyle.module.css';
}

.slide_Two_Child {
  display: flex;
  flex-direction: column;
}

.search_bar_container_second_slide {
  width: 80%;
  height: fit-content;
  /* border: 1px solid black; */
  padding-right: 1.3rem;
}

.text_parent_wrapper {
  /* border: 3px solid blue; */
  height: inherit;
}

.text_container {
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
}

.city_country_text_container {
  /* border: 1px solid black; */
  width: 22rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: end;
  gap: 0.3rem;
  text-align: right;
}

.city_country_text_container h1 {
  font-size: 3rem;
}

.city_country_text_container h3 {
  font-weight: 100;
}

.temperature_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  /* border: 1px solid green; */
}

.current_temperature_wrapper {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  /* border: 1px solid red; */
  height: 3.4rem;
}

.current_temperature_wrapper > div > h1 {
  font-weight: 100;
}

.min_max_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: auto;
}

.max_min_container {
  display: flex;
  align-items: start;
  gap: 0.3rem;
  /* border: 1px solid red; */
}

@media only screen and (max-width:  1280px) {
  .city_country_text_container {
    width: 15rem;
  }
}

@media only screen and (max-width:  786px) {
  .city_country_text_container h1 {
    font-size: 2rem;
  }

  .current_temperature_wrapper > div > h1 {
    font-size: 2rem;
  }

  .temperature_wrapper div:last-of-type h1 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 640px) {
  .text_container {
    gap: 1rem;
  }

  .city_country_text_container {
    width: 10rem;
  }
}

@media only screen and (max-width: 454px) {
  .city_country_text_container h1 {
    font-size: 1.8rem;
  }

  .city_country_text_container h3 {
    font-size: 1rem;
  }

  .current_temperature_wrapper > div > h1 {
    font-size: 1.8rem;
  }

  .temperature_wrapper div:last-of-type h1 {
    font-size: 1rem;
  }

  .max_min_container h4 {
    font-size: .7rem;
  }

  .min_max_wrapper {
    gap: 0.1rem;
  }

  .max_min_container {
    gap: 0.1rem;
  }
}