.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    animation: appear linear;
    animation-timeline: scroll();
}

.main {
    display: flex;
    align-items: center;
    overflow-x: auto;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, .3),
        rgba(0, 0, 0, .2)
    );
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    overflow-x: scroll;
    height: 150px;
    max-width: 100.8rem;
}

.card {
    margin: .4rem;
    border: none;
    border-radius: .4rem;
}

.card_btn {
    width: 3.4rem;
    height: 8rem;
    padding: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: .4rem;
    cursor: pointer;
    color: #fbfefe;
}

.card_btn:hover {
    background-color: rgb(138, 180, 248);
}

.selected_card {
    composes: card_btn;
    background-color: rgb(138, 180, 248);
}

.normal_card {
    composes: card_btn;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(50px);
}

.btn {
    display: flex;
    align-items: center;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #eee;
    opacity: .7;
    position: absolute;
    top: 35%;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.btn:active, .btn:focus {
    opacity: .7;
}

.left_btn_not_visible {
    composes: btn;
    visibility: hidden;
}

.left_btn_visible {
    composes: btn;
    left: -2%;
    z-index: 3;
}

.right_btn_not_visible {
    composes: btn;
    visibility: hidden;
    z-index: 3;
}

.right_btn_visible {
    composes: btn;
    right: -2%;
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.1;
    }

    65% {
        opacity: 1;
        scale: 1;
    }
}


@media only screen and (max-width:  1750px) {
    .scroll_container_daily {
        width: 38.4rem;
    }
}

@media only screen and (max-width:  1280px) {
    .scroll_container_forecast {
        width: 18.5rem;
    }

    .left_btn_visible {
        left: -10%;
    }

    .right_btn_visible {
        right: -10%;
    }
}

@media only screen and (max-width:  800px) {
    .wrapper {
        animation: none;
    }
}

@media only screen and (max-width:  700px) {
    .scroll_container_daily {
        width: 18.5rem;
    }

    .main {
        height: 7.2rem;
    }

    .card {
        margin: .3rem;
    }

    .card_btn {
        width: 3rem;
        height: 6.5rem;
    }
}

@media only screen and (max-width:  400px) {
    .card_btn h4 {
        color: red;
    }
    .card_btn h4:nth-of-type(2) {
        font-size: .2rem;
    }
}
