.scroll_container {
    /* border: 3px solid green; */
    position: relative;
    display: flex;
}

.scroll_container {
    composes: scroll_container;
    position: relative;
}


.scroll_container_child_daily_forecast {
    padding: 5px;
    /* border: 3px solid blue; */
    width: 30rem;
}

.main {
    display: flex;
    align-items: center;
    overflow-x: auto;
    border: 3px solid purple;
    background-color: rgb(138, 180, 248);
    overflow-x: scroll;
    height: 150px;
    max-width: 100.8rem;
    /* border: none;
    border-radius: 1rem; */
}

.card {
    /* border: 1px solid black; */
    margin: 0.4rem;
    border: none;
    border-radius: 0.4rem;
}

.card_btn {
    width: 3.4rem;
    height: 8rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    background-color: rgb(102, 157, 246);
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color: #fbfefe;
}

.card_btn h4 {
    font-weight: 100;
}

.card_btn h4:last-of-type {
    font-weight: 600;
}

.card_btn:hover {
    background-color: rgb(66, 94, 138);
}

.selected_card {
    composes: card_btn;
    background-color: rgb(66, 94, 138);
}

.normal_card {
    composes: card_btn;
    background-color: rgb(102, 157, 246);
}

.btn {
    display: flex;
    align-items: center;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #eee;
    opacity: 0.7;
    position: absolute;
    top: 35%;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.left_btn_not_visible {
    composes: btn;
    visibility: hidden;
}

.left_btn_visible {
    composes: btn;
    left: -2%;
}

.right_btn_not_visible {
    composes: btn;
    visibility: hidden;
}

.right_btn_visible {
    composes: btn;
    right: -2%;
}

@media only screen and (max-width: 2000px) {
    .scroll_container_child_daily_forecast {
        width: fit-content;
    }

    .left_btn_visible, .right_btn_visible {
        visibility: hidden;
    }
}

/* medium >= 768px */
@media only screen and (max-width:  1370px) {
    .scroll_container_child_daily_forecast {
        width: 24.5rem;
    }
}

/* small >= 640px */
/* @media only screen and (max-width:  768px) {
    .scroll_container_child_daily_forecast {
        width: 20rem;
    }
} */

/* below small */
@media only screen and (max-width: 640px) {
    .scroll_container_child_daily_forecast {
        width: fit-content;
    }
}