*::selection {
  color: none;
  background: none;
  overflow: hidden;
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

input:focus, textarea:focus {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  overflow-wrap: break-word;
}

a:link {
  color: black;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}

a:active {
  color: blue;
}