.rain {
    --scale-fully-cloudy: 0.8;
    position: relative;
    border: none;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    overflow: hidden;
}

.rain_cloud {
    --scale-rain: 0.8;
    position: relative;
    height: calc(var(--scale-rain) * 7rem);
    width: calc(var(--scale-rain) * 24rem);
    border-radius: 100px;
    background-image: radial-gradient(circle, #7f8c8d);
    z-index: 1;
}

.rain_cloud::before {
    content: '';
    position: absolute;
    top: calc(var(--scale-rain) * (-5rem));
    left: calc(var(--scale-rain) * 3rem);
    width: calc(var(--scale-rain) * 9rem);
    height: calc(var(--scale-rain) * 9rem);
    background: #ccc;
    background-image: radial-gradient(farthest-side at 40% 50%, #95a5a6, #7f8c8d);
    box-shadow: calc(var(--scale-rain) * 7.5rem) -1.5rem 0 calc(var(--scale-rain) * 2.3rem) #7f8c8d;
    border-radius: 50%;
}

@media only screen and (max-width:  1098px) {
    .rain {
        margin-top: 1.5rem;
        overflow: visible;
    }

    .rain_cloud {
        height: calc(var(--scale-rain) * 3.5rem);
        width: calc(var(--scale-rain) * 14rem);
    }

    .rain_cloud::before {
        top: calc(var(--scale-fully-cloudy) * (-3.1rem));
        left: calc(var(--scale-fully-cloudy) * 2rem);
        width: calc(var(--scale-fully-cloudy) * 5rem);
        height: calc(var(--scale-fully-cloudy) * 5rem);
        background-image: radial-gradient(farthest-side at 40% 50%, #95a5a6, #7f8c8d);
        box-shadow: calc(var(--scale-fully-cloudy) * 4em) -.5rem 0 calc(var(--scale-fully-cloudy) * 1.3rem) #7f8c8d;
    }
}