.slide_Three_Parent, .slide_Three_Child {
    composes: slide from '../../MainPageStyle.module.css';
    position: relative;
}

.slide_Three_Child {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid red; */
}

@media only screen and (max-width:  400px) {
    .slide_Three_Child {
        padding-top: .4rem;
        gap: 1rem;
    }
}